
<main role="main">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
                <img src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""width="1050" height="550">
                <div class="container">
                  <div class="carousel-caption ">
                    <h1>Ev Yönetim</h1>
                    <p>Kayıtta tutulan evlerin listelenmesi, kayıt oluşturulması ve yönetimine olanak sağlar.Sistem arama bölümleri ile istenilen evlerin daha kolay listelenmesine olanak
                        sağlamıştır.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="" routerLink="houses" role="button">Daha Fazlası</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
                <img src="https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt=""width="1050" height="550">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Arsa Yönetimi</h1>
                    <p>Kayıtta tutulan arsaların listelenmesi, kayıt oluşturulması ve yönetimine olanak sağlar.Sistem arama bölümleri ile istenilen arsaların daha kolay listelenmesine olanak
                        sağlamıştır.</p>
                    <p><a class="btn btn-lg btn-primary" href="" routerLink="lands" role="button">Daha Fazlası</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                -->
                <img src="https://images.unsplash.com/photo-1566897819059-db42e135fa69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""width="1050" height="550">

                <div class="container">
                  <div class="carousel-caption ">
                    <h1>Dükkan Yönetimi</h1>
                    <p>Kayıtta tutulan dükkanların listelenmesi, kayıt oluşturulması ve yönetimine olanak sağlar.Sistem arama bölümleri ile istenilen dükkanların daha kolay listelenmesine olanak
                        sağlamıştır.</p>
                    <p><a class="btn btn-lg btn-primary" href=""routerLink="shops"  role="button">Daha Fazlası</a></p>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    
    
    </div>
    


</main>

<br>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<br>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Mobile App</strong>
        <h3 class="mb-0">Flutter</h3>
        <div class="mb-1 text-muted">Temmuz 1</div>
        <p class="card-text mb-auto">Mobil uygulaması'da yazılacak. Backend'de API kullanıldığı için ön yüzde çok farklı teknolojiler rahatca geliştirilebilir.</p>
        <br>
        <a href="https://flutter.dev/" class="stretched-link">Flutter'a gözat</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <img src="https://yt3.ggpht.com/a/AATXAJyPMywRmD62sfK-1CXjwF0YkvrvnmaaHzs4uw=s900-c-k-c0xffffffff-no-rj-mo" alt=""width="225" height="220">


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Design</strong>
        <h3 class="mb-0">Figma</h3>
        <div class="mb-1 text-muted">Agustos 1</div>
        <p class="mb-auto">Web tasarım konusunda ilerleme sağlandıktan sonra projenin tasarımında değişikliğe gidilecektir. Bunu için iste Figma programı kapsamlı incelenecektir.</p>
        <br>
        <a href="https://www.figma.com/" class="stretched-link">Figmaya gözat</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <img src="https://ih1.redbubble.net/image.785022727.2754/st,small,507x507-pad,600x600,f8f8f8.u3.jpg" alt=""width="225" height="220">

      </div>
    </div>
  </div>
</div>

