<div class="container">
    <!-- ev ekle modal  -->
    <h4 class="mb-3">Ev Ekleme Formu</h4>
    <form class="needs-validation" #houseAddForm="ngForm" (ngSubmit)="add(houseAddForm)" novalidate autocomplete="off">
        <div class="row form-group">



            <!-- baslık ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="title" id="title" #title="ngModel"
                    [(ngModel)]="model.title" placeholder="Başlık Giriniz" value="" required>
                <div *ngIf="title.invalid&&title.dirty" class="alert alert-warning">Zorunlu Alan</div>
            </div>

            <!--   fiyat ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="price" id="price" #price="ngModel"
                    [(ngModel)]="model.price" placeholder="Fiyat Giriniz" value="" required>
                <div *ngIf="price.invalid&&price.dirty" class="alert alert-warning">
                    Zorunlu Alan</div>
            </div>

            <!-- salon sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="numberOfSaloon" id="title" #numberOfSaloon="ngModel"
                    [(ngModel)]="model.numberOfSaloon" placeholder="Salon Sayısı" value="" required>
                <div *ngIf="numberOfSaloon.invalid&&numberOfSaloon.dirty" class="alert alert-warning"> Zorunlu Alan
                    </div>
            </div>


            <!-- Oda sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="numberOfRoom" id="numberOfRoom" #numberOfRoom="ngModel"
                    [(ngModel)]="model.numberOfRoom" placeholder="Oda Giriniz" value="" required>
                <div *ngIf="numberOfRoom.invalid&&numberOfRoom.dirty" class="alert alert-warning"> Zorunlu Alan
                    gereklidir</div>
            </div>


            <!-- banyo sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="numberOfBath" id="numberOfBath" #numberOfBath="ngModel"
                    [(ngModel)]="model.numberOfBath" placeholder="Banyo Sayısı" value="" required>
                <div *ngIf="numberOfBath.invalid&&numberOfBath.dirty" class="alert alert-warning"> Zorunlu Alan
                    </div>
            </div>


            <!-- tuvalet sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="numberOfToilet" id="numberOfToilet"
                    #numberOfToilet="ngModel" [(ngModel)]="model.numberOfToilet" placeholder="Tuvalet Sayısı" value=""
                    required>
                <div *ngIf="numberOfToilet.invalid&&numberOfToilet.dirty" class="alert alert-warning"> Zorunlu Alan
                   </div>
            </div>


            <!-- balkon sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="numberOfBalcony" id="numberOfBalcony"
                    #numberOfBalcony="ngModel" [(ngModel)]="model.numberOfBalcony" placeholder="Balkon Sayısı" value=""
                    required>
                <div *ngIf="numberOfBalcony.invalid&&numberOfBalcony.dirty" class="alert alert-warning"> Zorunlu Alan</div>
            </div>

            <!-- Balkon metrekare sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="squaremetersOfBalcony" id="squaremetersOfBalcony"
                    #squaremetersOfBalcony="ngModel" [(ngModel)]="model.squaremetersOfBalcony"
                    placeholder="Balkon Metrekare" value="" required>
                <!-- <div *ngIf="squaremetersOfBalcony.invalid&&squaremetersOfBalcony.dirty" class="alert alert-warning">
                    Zorunlu Alan</div> -->
            </div>

            <!--  metrekare sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="squaremeter" id="squaremeter" #squaremeter="ngModel"
                    [(ngModel)]="model.squaremeter" placeholder="Toplam Metrekare" value="" required>
                <div *ngIf="squaremeter.invalid&&squaremeter.dirty" class="alert alert-warning">
                    Zorunlu Alan</div>
            </div>

            <!-- kullanılabilir metrekare sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="squaremeterOfGross" id="squaremeterOfGross"
                    #squaremeterOfGross="ngModel" [(ngModel)]="model.squaremeterOfGross"
                    placeholder="Kullanılabilir Metrekare " value="" required>
                <!-- <div *ngIf="squaremeterOfGross.invalid&&squaremeterOfGross.dirty" class="alert alert-warning">
                   </div> -->
            </div>


            <!--  cephe sayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="front" id="front" #front="ngModel"
                    [(ngModel)]="model.front" placeholder="Cephe" value="" required>
                <!-- <div *ngIf="front.invalid&&front.dirty" class="alert alert-warning">
                    front gereklidir</div> -->
            </div>

            <!--   Resim  ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName"> Resim </label> -->
                <input type="text" class="form-control" name="image" id="image" #image="ngModel"
                    [(ngModel)]="model.image" placeholder="Resim (ekleme sadece linkle yapılıyor)" value="" required>
                <!-- <div *ngIf="image.invalid&&image.dirty" class="alert alert-warning">
                    image gereklidir</div> -->
            </div>


            <!--   boyalımı ekleme -->
            <div class="col-md-6 mb-3">
                <label for="firstName"> Boyalı mı?</label>
                <select class="form-control " #whitewash="ngModel" [(ngModel)]="model.whitewash" required
                    name="whitewash" id="whitewash" placeholder="whitewash giriniz">
                    <option value="Evet">Evet</option>
                    <option value="Hayır">Hayır</option>
                </select>
            </div>

            <!--Durumu -->
            <div class="col-md-6 mb-3">
                <label for="firstName">Durumu</label>
                <select class="form-control " #usingStatus="ngModel" [(ngModel)]="model.usingStatus" required
                    name="usingStatus" id="usingStatus" placeholder="usingStatus giriniz">
                    <option value="Boş">Boş</option>
                    <option value="Dolu">Dolu</option>
                </select>
            </div>

            <!--  aidat ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="dues" id="dues" #dues="ngModel" [(ngModel)]="model.dues"
                    placeholder="Aidat Giriniz" value="" required>
                <!-- <div *ngIf="dues.invalid&&dues.dirty" class="alert alert-warning">
                    dues gereklidir</div> -->
            </div>


            <!--  ulaşım ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="transportation" id="transportation"
                    #transportation="ngModel" [(ngModel)]="model.transportation" placeholder="Ulaşım Giriniz" value=""
                    required>
                <!-- <div *ngIf="transportation.invalid&&transportation.dirty" class="alert alert-warning">
                    transportation gereklidir</div> -->
            </div>

            <!--Tarih-->
            <div class="col-md-6 mb-3">
                <label for="firstName"> Bina Yapılış Tarihi : &nbsp;&nbsp;&nbsp; </label>
                <mat-form-field>
                    <input matInput [matDatepicker]="myDatePicker" class="form-control" name="ageOfBuilding"
                        id="ageOfBuilding" #ageOfBuilding="ngModel" [(ngModel)]="model.ageOfBuilding" value="" required>
                    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #myDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <!--site içindemi varmı-->
            <div class="col-md-6 mb-3">
                <label for="firstName"> Site İçinde mi?</label>
                <select class="form-control " #inthesite="ngModel" [(ngModel)]="model.inthesite" required
                    name="inthesite" id="inthesite" placeholder="inthesite giriniz">
                    <option value="Evet">Evet</option>
                    <option value="Hayır">Hayır</option>
                </select>
            </div>


            <!--   katsayısı ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="numberOfFloor" id="numberOfFloor" #numberOfFloor="ngModel"
                    [(ngModel)]="model.numberOfFloor" placeholder="Bina Kat Sayısı" value="" required>
                <!-- <div *ngIf="numberOfFloor.invalid&&numberOfFloor.dirty" class="alert alert-warning">
                    numberOfFloor gereklidir</div> -->
            </div>


            <!--   kacıncı katta ekleme -->
            <div class="col-md-6 mb-3">
                <!-- <label for="firstName">Başlık</label> -->
                <input type="text" class="form-control" name="floorLocation" id="floorLocation" #floorLocation="ngModel"
                    [(ngModel)]="model.floorLocation" placeholder="Kaçıncı Katta" value="" required>
                <!-- <div *ngIf="floorLocation.invalid&&floorLocation.dirty" class="alert alert-warning">
                    floorLocation gereklidir</div> -->
            </div>


            <!--bahçe varmı-->
            <div class="col-md-6 mb-3">
                <label for="firstName"> Bahçe Var mı?</label>
                <select class="form-control " #garden="ngModel" [(ngModel)]="model.garden" required name="garden"
                    id="garden" placeholder="ısınma giriniz">
                    <option value="Evet">Evet</option>
                    <option value="Hayır">Hayır</option>
                </select>
            </div>

            <!--  bahçemetrekare ekleme -->
            <div class="col-md-6 mb-3">
                <label for="firstName">Bahçe Metrekare</label>
                <input type="text" class="form-control" name="squareOfGarden" id="squareOfGarden"
                    #squareOfGarden="ngModel" [(ngModel)]="model.squareOfGarden" placeholder="" value="" required>
                <!-- <div *ngIf="squareOfGarden.invalid&&squareOfGarden.dirty" class="alert alert-warning">
                    squareOfGarden gereklidir</div> -->
            </div>



            <!-- Adres   ekleme -->
            <div class="col-md-10 mb-2">
                <label for="exampleFormControlTextarea1">Adres</label>
                <textarea class="form-control rounded-0" name="location" id="location" #location="ngModel"
                    [(ngModel)]="model.location" placeholder="Adres Giriniz" value="" required rows="3"
                    cols="100"></textarea>
                <!-- <div *ngIf="content.invalid&&content.dirty" class="alert alert-warning">
                    İçerik gereklidir</div> -->
            </div>








            <!-- content   ekleme
            <div class="col-md-10 mb-2">
                <label for="exampleFormControlTextarea2">Content</label>
                <textarea class="form-control rounded-0" name="content" id="content" #content="ngModel"
                    [(ngModel)]="model.content" placeholder="content Giriniz" value="" required rows="3"
                    cols="100"></textarea>
                 <div *ngIf="content.invalid&&content.dirty" class="alert alert-warning">
                    İçerik gereklidir</div> 
            </div>
            -->




            <!-- info   ekleme  -->
            <div class="col-md-10 mb-2">
                <label for="exampleFormControlTextarea2">Bilgilendirme</label>
                <textarea class="form-control rounded-0" name="INFO" id="INFO" #INFO="ngModel" [(ngModel)]="model.INFO"
                    placeholder="Bilgilendirme Giriniz" value="" required rows="3" cols="100"></textarea>
                <!-- <div *ngIf="content.invalid&&content.dirty" class="alert alert-warning">
                    İçerik gereklidir</div> -->
            </div>


            <!--park varmı-->
            <div class="col-md-6 mb-3">
                <label for="firstName">Park varmı?</label>
                <select class="form-control " #park="ngModel" [(ngModel)]="model.park" required name="park" id="park"
                    placeholder="park giriniz">
                    <option value="Evet">Evet</option>
                    <option value="Hayır">Hayır</option>
                </select>
            </div>






            <!--Krediye uygun mu -->
            <div class="col-md-6 mb-3">
                <label for="firstName">Crediye Uygun mu</label>
                <select class="form-control " #credit="ngModel" [(ngModel)]="model.credit" required name="credit"
                    id="credit" placeholder="credit giriniz">
                    <option value="Evet">Evet</option>
                    <option value="Hayır">Hayır</option>
                </select>
            </div>







            <!--Asansör mı -->
            <div class="col-md-6 mb-3">
                <label for="firstName">Asansör var mı?</label>
                <select class="form-control " #elevator="ngModel" [(ngModel)]="model.elevator" required name="elevator"
                    id="elevator">

                    <option value="Evet">Evet</option>
                    <option value="Hayır">Hayır</option>
                </select>
            </div>


            <!-- listingDate
            <div class="col-md-6 mb-3">
                <label for="firstName"> Yayınlanma Tarihi </label>
                <mat-form-field>
                    <input matInput [matDatepicker]="myDatePicker1" class="form-control" name="listingDate"
                        id="listingDate" #listingDate="ngModel" [(ngModel)]="model.listingDate" value="" required>
                    <mat-datepicker-toggle [for]="myDatePicker1" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #myDatePicker1></mat-datepicker>
                </mat-form-field>
            </div> -->


            <!--Esyalı mı -->
            <div class="col-md-6 mb-3">
                <label for="firstName">Esyalı mı?</label>
                <select class="form-control " #goods="ngModel" [(ngModel)]="model.goods" required name="goods"
                    id="goods" placeholder="goods giriniz">
                    <option value="Evet">Evet</option>
                    <option value="Hayır">Hayır</option>
                </select>
            </div>


            <!--Isınma-->
            <div class="col-md-6 mb-3">
                <label for="firstName"> Isınma</label>
                <select class="form-control " #heating="ngModel" [(ngModel)]="model.heating" required name="heating"
                    id="heating" placeholder="ısınma giriniz">
                    <option value="Kombi">Kombi</option>
                    <option value="Merkezi Sistem">Merkezi Sistem</option>
                    <option value="Soba">Soba</option>
                    <option value="Isınma Yok">Isınma Yok</option>
                </select>

            </div>





            <!--konuttipi-->
            <div class="col-md-6 mb-3">
                <label for="firstName"> Konut Yipi</label>
                <select class="form-control " #propertyType="ngModel" [(ngModel)]="model.propertyType" required
                    name="propertyType" id="propertyType" placeholder="propertyType giriniz">
                    <option value="Daire">Daire</option>
                    <option value="Gecekondu">Gecekondu</option>
                    <option value="Villa">Villa</option>
                </select>
            </div>






        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="houseAddForm.invalid">Ev
            Ekle</button>
    </form>

</div>